In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor

In [2]:
df_paths =['~/Desktop/Tea and coffe prediction/archive/domestic-consumption.csv',
         '~/Desktop/Tea and coffe prediction/archive/exports-calendar-year.csv',
          '~/Desktop/Tea and coffe prediction/archive/exports-crop-year.csv',
          '~/Desktop/Tea and coffe prediction/archive/gross-opening-stocks.csv',
          '~/Desktop/Tea and coffe prediction/archive/total-production.csv']

In [3]:
dfs = [pd.read_csv(df_path) for df_path in df_paths]

In [4]:
dfs[0].mean(axis=1)

/tmp/ipykernel_18166/1304881986.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  dfs[0].mean(axis=1)

0        25.689655
1        41.103448
2     15234.310345
3         1.891966
4       214.137931
5      2662.137931
6       325.405724
7         1.310345
8         2.004828
9        19.482759
10      222.413793
11        1.195379
12        0.152069
13        4.802276
14        2.977034
15      213.244828
16      356.438724
17      333.275862
18     1501.310345
19       40.646586
20        0.570069
21        0.000000
22       79.787897
23       13.560000
24     1388.097669
25      370.238621
26      224.850655
27      200.000000
28      229.725310
29        0.000000
30     2529.034483
31        0.628241
32        5.661379
33      326.034483
34       48.120690
35        4.978759
36      259.109586
37     1153.137931
38       10.429897
39       52.241379
40       85.379310
41        4.793103
42     1749.517241
43        0.000000
44      165.000172
45       39.275862
46       68.331586
47        5.620690
48       32.298862
49      669.310345
50        1.236793
51       11.775862
52      154.928966
53     1327.337931
54     1016.050759
55       67.689655
dtype: float64

In [5]:
def get_means(df):
    df = df.copy()
    countries = df[df.columns[0]]
    means = df.mean(axis=1)
    df = pd.concat([countries, means], axis=1)
    df.columns = ['country', countries.name]
    return df

In [6]:
get_means(dfs[0]).merge(get_means(dfs[1]), on='country')

/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)

                             country  domestic_consumption       exports
0                             Angola             25.689655     24.115531
1   Bolivia (Plurinational State of)             41.103448     78.384152
2                             Brazil          15234.310345  25706.195606
3                            Burundi              1.891966    363.186423
4                            Ecuador            214.137931   1115.800914
5                          Indonesia           2662.137931   5878.047357
6                         Madagascar            325.405724    289.048949
7                             Malawi              1.310345     47.247465
8                   Papua New Guinea              2.004828   1015.455512
9                           Paraguay             19.482759     25.757542
10                              Peru            222.413793   2688.290420
11                            Rwanda              1.195379    316.250499
12                       Timor-Leste              0.152069     35.083247
13                          Zimbabwe              4.802276     78.112883
14                             Congo              2.977034      1.341862
15                              Cuba            213.244828     63.499287
16                Dominican Republic            356.438724    180.744993
17                             Haiti            333.275862     62.019893
18                       Philippines           1501.310345     29.944000
19                          Tanzania             40.646586    786.307663
20                            Zambia              0.570069     42.855127
21                             Benin              0.000000      0.063966
22                          Cameroon             79.787897    795.942577
23          Central African Republic             13.560000     97.366456
24                          Colombia           1388.097669  10953.061020
25                        Costa Rica            370.238621   1683.603825
26                     C么te d'Ivoire            224.850655   2640.989406
27      Democratic Republic of Congo            200.000000    438.641994
28                       El Salvador            229.725310   1542.671788
29                 Equatorial Guinea              0.000000      0.881828
30                          Ethiopia           2529.034483   2257.551574
31                             Gabon              0.628241      1.060177
32                             Ghana              5.661379     30.461676
33                         Guatemala            326.034483   3590.512097
34                            Guinea             48.120690    225.830006
35                            Guyana              4.978759      1.305947
36                          Honduras            259.109586   3194.853765
37                             India           1153.137931   3777.195530
38                           Jamaica             10.429897     19.966535
39                             Kenya             52.241379    989.200405
40  Lao People's Democratic Republic             85.379310    243.108008
41                           Liberia              4.793103      4.361228
42                            Mexico           1749.517241   3143.855086
43                             Nepal              0.000000      0.903943
44                         Nicaragua            165.000172   1270.768988
45                           Nigeria             39.275862      6.434295
46                            Panama             68.331586     91.047137
47                      Sierra Leone              5.620690     50.098006
48                         Sri Lanka             32.298862      9.234620
49                          Thailand            669.310345    551.847711
50                              Togo              1.236793    165.468715
51                 Trinidad & Tobago             11.775862      3.671784
52                            Uganda            154.928966   3080.789345
53                         Venezuela           1327.337931    136.791798
54                          Viet Nam           1016.050759  13048.102878
55                             Yemen             67.689655     57.718630

In [7]:
def make_df(dfs):
    processesed_dfs = []

    for df in dfs:
        processesed_dfs.append(get_means(df))

    df = processesed_dfs[0]

    for i in range(1, len(processesed_dfs)):
        df = df.merge(processesed_dfs[1], on='country')

    return df

In [8]:
data = make_df(dfs)
data

/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/94857722.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  means = df.mean(axis=1)
/tmp/ipykernel_18166/1403512504.py:10: FutureWarning: Passing 'suffixes' which cause duplicate columns {'exports_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = df.merge(processesed_dfs[1], on='country')

,country,domestic_consumption,exports_x,exports_y,exports_x,exports_y
0,Angola,25.689655,24.115531,24.115531,24.115531,24.115531
1,Bolivia (Plurinational State of),41.103448,78.384152,78.384152,78.384152,78.384152
2,Brazil,15234.310345,25706.195606,25706.195606,25706.195606,25706.195606
3,Burundi,1.891966,363.186423,363.186423,363.186423,363.186423
4,Ecuador,214.137931,1115.800914,1115.800914,1115.800914,1115.800914
5,Indonesia,2662.137931,5878.047357,5878.047357,5878.047357,5878.047357
6,Madagascar,325.405724,289.048949,289.048949,289.048949,289.048949
7,Malawi,1.310345,47.247465,47.247465,47.247465,47.247465
8,Papua New Guinea,2.004828,1015.455512,1015.455512,1015.455512,1015.455512
9,Paraguay,19.482759,25.757542,25.757542,25.757542,25.757542
10,Peru,222.413793,2688.290420,2688.290420,2688.290420,2688.290420
11,Rwanda,1.195379,316.250499,316.250499,316.250499,316.250499
12,Timor-Leste,0.152069,35.083247,35.083247,35.083247,35.083247
13,Zimbabwe,4.802276,78.112883,78.112883,78.112883,78.112883
14,Congo,2.977034,1.341862,1.341862,1.341862,1.341862
15,Cuba,213.244828,63.499287,63.499287,63.499287,63.499287
16,Dominican Republic,356.438724,180.744993,180.744993,180.744993,180.744993
17,Haiti,333.275862,62.019893,62.019893,62.019893,62.019893
18,Philippines,1501.310345,29.944000,29.944000,29.944000,29.944000
19,Tanzania,40.646586,786.307663,786.307663,786.307663,786.307663
20,Zambia,0.570069,42.855127,42.855127,42.855127,42.855127
21,Benin,0.000000,0.063966,0.063966,0.063966,0.063966
22,Cameroon,79.787897,795.942577,795.942577,795.942577,795.942577
23,Central African Republic,13.560000,97.366456,97.366456,97.366456,97.366456
24,Colombia,1388.097669,10953.061020,10953.061020,10953.061020,10953.061020
25,Costa Rica,370.238621,1683.603825,1683.603825,1683.603825,1683.603825
26,C么te d'Ivoire,224.850655,2640.989406,2640.989406,2640.989406,2640.989406
27,Democratic Republic of Congo,200.000000,438.641994,438.641994,438.641994,438.641994
28,El Salvador,229.725310,1542.671788,1542.671788,1542.671788,1542.671788
29,Equatorial Guinea,0.000000,0.881828,0.881828,0.881828,0.881828
30,Ethiopia,2529.034483,2257.551574,2257.551574,2257.551574,2257.551574
31,Gabon,0.628241,1.060177,1.060177,1.060177,1.060177
32,Ghana,5.661379,30.461676,30.461676,30.461676,30.461676
33,Guatemala,326.034483,3590.512097,3590.512097,3590.512097,3590.512097
34,Guinea,48.120690,225.830006,225.830006,225.830006,225.830006
35,Guyana,4.978759,1.305947,1.305947,1.305947,1.305947
36,Honduras,259.109586,3194.853765,3194.853765,3194.853765,3194.853765
37,India,1153.137931,3777.195530,3777.195530,3777.195530,3777.195530
38,Jamaica,10.429897,19.966535,19.966535,19.966535,19.966535
39,Kenya,52.241379,989.200405,989.200405,989.200405,989.200405
40,Lao People's Democratic Republic,85.379310,243.108008,243.108008,243.108008,243.108008
41,Liberia,4.793103,4.361228,4.361228,4.361228,4.361228
42,Mexico,1749.517241,3143.855086,3143.855086,3143.855086,3143.855086
43,Nepal,0.000000,0.903943,0.903943,0.903943,0.903943
44,Nicaragua,165.000172,1270.768988,1270.768988,1270.768988,1270.768988
45,Nigeria,39.275862,6.434295,6.434295,6.434295,6.434295
46,Panama,68.331586,91.047137,91.047137,91.047137,91.047137
47,Sierra Leone,5.620690,50.098006,50.098006,50.098006,50.098006
48,Sri Lanka,32.298862,9.234620,9.234620,9.234620,9.234620
49,Thailand,669.310345,551.847711,551.847711,551.847711,551.847711
50,Togo,1.236793,165.468715,165.468715,165.468715,165.468715
51,Trinidad & Tobago,11.775862,3.671784,3.671784,3.671784,3.671784
52,Uganda,154.928966,3080.789345,3080.789345,3080.789345,3080.789345
53,Venezuela,1327.337931,136.791798,136.791798,136.791798,136.791798
54,Viet Nam,1016.050759,13048.102878,13048.102878,13048.102878,13048.102878
55,Yemen,67.689655,57.718630,57.718630,57.718630,57.718630

In [12]:
def preprocess_input(df):
    df = df.copy()
    
    y = df['domestic_consumption']
    x = df.drop('domestic_consumption', axis=1)
    
    x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, shuffle=True, random_state=1)
    return  x_train, x_test, y_train, y_test

In [13]:
x_train, x_test, y_train, y_test = preprocess_input(data)

In [14]:
x_train

,country,exports_x,exports_y,exports_x,exports_y
52,Uganda,3080.789345,3080.789345,3080.789345,3080.789345
35,Guyana,1.305947,1.305947,1.305947,1.305947
26,C么te d'Ivoire,2640.989406,2640.989406,2640.989406,2640.989406
45,Nigeria,6.434295,6.434295,6.434295,6.434295
54,Viet Nam,13048.102878,13048.102878,13048.102878,13048.102878
27,Democratic Republic of Congo,438.641994,438.641994,438.641994,438.641994
34,Guinea,225.830006,225.830006,225.830006,225.830006
13,Zimbabwe,78.112883,78.112883,78.112883,78.112883
22,Cameroon,795.942577,795.942577,795.942577,795.942577
47,Sierra Leone,50.098006,50.098006,50.098006,50.098006
30,Ethiopia,2257.551574,2257.551574,2257.551574,2257.551574
17,Haiti,62.019893,62.019893,62.019893,62.019893
51,Trinidad & Tobago,3.671784,3.671784,3.671784,3.671784
31,Gabon,1.060177,1.060177,1.060177,1.060177
23,Central African Republic,97.366456,97.366456,97.366456,97.366456
4,Ecuador,1115.800914,1115.800914,1115.800914,1115.800914
14,Congo,1.341862,1.341862,1.341862,1.341862
29,Equatorial Guinea,0.881828,0.881828,0.881828,0.881828
28,El Salvador,1542.671788,1542.671788,1542.671788,1542.671788
50,Togo,165.468715,165.468715,165.468715,165.468715
40,Lao People's Democratic Republic,243.108008,243.108008,243.108008,243.108008
18,Philippines,29.944000,29.944000,29.944000,29.944000
55,Yemen,57.718630,57.718630,57.718630,57.718630
20,Zambia,42.855127,42.855127,42.855127,42.855127
25,Costa Rica,1683.603825,1683.603825,1683.603825,1683.603825
6,Madagascar,289.048949,289.048949,289.048949,289.048949
7,Malawi,47.247465,47.247465,47.247465,47.247465
53,Venezuela,136.791798,136.791798,136.791798,136.791798
1,Bolivia (Plurinational State of),78.384152,78.384152,78.384152,78.384152
16,Dominican Republic,180.744993,180.744993,180.744993,180.744993
0,Angola,24.115531,24.115531,24.115531,24.115531
15,Cuba,63.499287,63.499287,63.499287,63.499287
5,Indonesia,5878.047357,5878.047357,5878.047357,5878.047357
11,Rwanda,316.250499,316.250499,316.250499,316.250499
9,Paraguay,25.757542,25.757542,25.757542,25.757542
8,Papua New Guinea,1015.455512,1015.455512,1015.455512,1015.455512
12,Timor-Leste,35.083247,35.083247,35.083247,35.083247
43,Nepal,0.903943,0.903943,0.903943,0.903943
37,India,3777.195530,3777.195530,3777.195530,3777.195530